@import 'mixinAndFunctions.scss';
@import 'variables.scss';

* {
    @include reset;
}
html {
    height: 100%;
}

a{
    text-decoration: none;
}
body {
    // min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}


//FONTAWESOME CONFIG
.fa-map-marker-alt{
    color: $lie;
    font-size: 1.8rem;
    margin-right: 5px;
  
    @include media(tablet) {
        font-size: 2rem;
        margin-right: 8px;
    }
}

  .fa-calendar-alt {
    font-weight: 900;
    font-size: 40px;
    color:#5aabdf;
    padding: 20px;
}

.fa-clock{
    color:#5aabdf;
    font-size: 0.8rem;
    margin-left: 3px
}



//CALENDAR
.calendar{
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border: $border-color-box;
    border-radius:$radius;
    box-shadow: $shadow;
    gap:15px;
    @include media(tablet) {
        padding: 30px 80px;
    }
    

        
    

}
.titre-calendar{
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
}

.calendar-logo-button{
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
    @include media(tablet) {
    flex-direction: row;   
    
    } 
}

.box-container{
    background-color:#FAE800;
    display: flex;
    border: $border-color-box;
    border-radius: $radius;
    box-shadow: $shadow;
    height: 100%;
    width: 100%;
}

.box-calendar{
    display: flex;
    width: 100%;
    
}
.date-box{
    display: flex;
    width:45px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $lie; 


}
.date-box > p {
    color: white;
   
}
.month{
   
    font-size: 1rem;
}

.day{
   font-size: 1.4rem;
}

.hour{
    font-size: 0.8rem;
    margin-left: 2px;
}
.date-title{
    color:black; 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}
.clock{
    display: flex;
    align-items: center;
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
}

// MENU MOBILE

@media only screen and (max-width: 767px) {
    
    .sidenav {
        width: 172px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -180px;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: left 0.5s ease;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }


    .sidenav a:hover {
        color: #111;
    }


    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #e8e8e8;
        padding-bottom: 5px;
        
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        font-size: 56px;
        right: 10px;
        color: $lie;
    }

    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
}


.close {
    display: none;
}
label input {
    display: none;
}

// MISE EN PLACE DU GRID DU BODY  

body {
    padding: 0px 5px;
    text-align: justify;

    display: grid;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
    font-family: Arial, Verdana, sans-serif;
    row-gap: 20px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    height: 100vh;
    @include media(tablet) {
        grid-template-columns: auto 1240px auto;
        padding:0px;
    }
}
nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}




#strong {
    font-weight: 600;
}

//mise en place de la grid du header
header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        'logo adresse adresse'
        'citation citation citation'
        'nav nav nav';
        @include media(tablet) {
            grid-template-areas:
            'logo citation adresse'
            'nav nav nav';
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
        }
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px auto auto;
    box-shadow: $shadow;
    border: $border-color-box;
    border-image: initial;
    border-radius: $radius;
    padding: 10px;
}
.emplacement_logo {
    grid-area: logo;
}

.lien-adresse{
    grid-area:adresse;
}


.adresse {
    grid-area: adresse;
    object-fit: cover;
    justify-content: flex-end;
    display: flex;
    @include media(tablet) {
       align-items: center;
       margin-top: 20px;
    }

}
.adresse-temple{
    font-size: 0.8rem;
    color: black;
    font-weight: 800;
    @include media(tablet) {
        font-size: 1rem;
    }
    
}
#quote {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    grid-area: citation;
    @include media(tablet) {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: normal;

    }
}

//  Style logo mini en mobile

// .mini_logo {
.mini_logo {
    height: 60%;
    width: 100%;

    @include media(tablet) {
        height: 100%;
        width: 50%;
    }
}

//style localistation google en mobile

.mini_localisation {
    height: 50%;
    @include media(tablet) {
        height: 75%;
    }
}

//Mise en forme du menu
.menu {
    flex-direction: column;
    z-index: 1;
    position: fixed;
    @include media(tablet) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
}

.menu ul {
    display: none;
}
.menu,
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu a {
    display: flex;
    width: 165px;
    height: 35px;
    color: black;
    background-color: #317f92;
    background-color: $lie; /* couleur lie de vin */
    border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
    border: 1.92px #fae800 solid;
    font-weight: bold;
    font-size: 0.9rem;
    align-items: center;
    box-sizing: content-box;
    text-decoration: none;
    padding: 3px 0px;
    // padding: 0px 7px;
    justify-content: center;
    text-align: center;
    @include media(tablet) {
        width: 100%;
    }

    &:hover {
        background-color: $second-color;
    }
}


#openBtn{
    grid-area: nav;
}
//ciblage uniquement des liens dans les sous menus
.menu > li > ul > li > a {
    padding: 3px 10px;
}
.menu > li > ul > li > a {
    background-color: $second-color;
    @include media(tablet) {
        background-color: $lie; /* couleur lie de vin */
    }
}


// menu sous menu survol

.menu > li > ul > li > a:hover {
    background-color: $lie; /* couleur lie de vin */
    @include media(tablet) {
    background-color: $second-color;

    }
}

.menu li {
    margin: 3px;
    width: 100%;
}

.menu > li {
    display: flex;
    position: relative;
}



.menu li:hover ul {
    display: block;
    top: 15px;
    left: 165px;
    z-index: 100;
    position: fixed;
    @include media(tablet) {
        left: 0px;
        position: absolute;
        top: 41px;
    }
}

.menu ul li a:hover {
    background-color: $second-color;
    border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
}

//mise en place du grid du container accueik
main .container_accueil {
    grid-template-columns: 1fr;
grid-template-areas:"calendar"
                    "carousel"
                    "accueil"
                    "evenement";
    display: grid;
    gap: 20px;
    @include media(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'carousel calendar'
                             'accueil evenement';
        grid-template-rows: auto;
        
    }
}

img {
    object-fit: cover;
}


.txt-accueil {
    grid-area: accueil;
    font-size: 0.8rem;
    width: 50%;
    color: $primary-color;

}

.evenement {
    grid-area: evenement;
        border: 0.1vw #d50551 solid;
        border: $border-color-box;
        border-radius: $radius;
        box-shadow: $shadow;
        padding:5px;
}


.slider /*carrousel accueil*/ {
    overflow: hidden;
    border: $border-color-box;
    border-radius: $radius;
    box-shadow: $shadow;
    grid-area: carousel;
    height: 280px;
    @include media(tablet) {
    height: 462px;
    }

}
.slides {
    width: 500%; /*100% par nb d'images*/
    position: relative;
    height: 100%;
    display: flex;
    animation: slider 20s infinite;
    grid-area: carousel;
    
}
.slide  {
    width: 20%;

}

//animation du slider page principale

@keyframes slider {
    0% {
        left: 0%;
    }
    5% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    45% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    65% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    85% {
        left: -400%;
    }
    100% {
        left: 0%;
    }
}
// 

footer {
   
    width: 100%;
    justify-content: center;
    color: #000000;
    background-color: #8dc7a6;
    border: $border-color-box;
    border-radius: $radius;
    box-shadow: $shadow;

    display: flex;
    align-items: center;
    font-family: Arial, Verdana, sans-serif;
    height: 2rem;
}
footer > p >a {
    color: $lie;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.date{
    font-size: 14px;
    
    @include media(tablet) {
        font-size: 1rem;
    }
}



.slider_diapo /*diaporama bicentenaire*/ {
    font-size: 0;
    width: 640px;
    overflow: hidden;
    border: $border-color-box;
    border-radius: $radius;
    box-shadow: $shadow;
}
.slides_diapo {
    width: 4000%; /*100% par nb d'images*/
    position: relative;
    float: left;
    animation: slider_diapo 100s infinite;
}
.slide_diapo {
    width: 2.5%;
    height: 360px;
}

//animation du bicentenaire slier_diapo
@keyframes slider_diapo {
    0% {
        left: 0%;
    }
    .5% {
        left: 0%;
    }
    2.5% {
        left: -100%;
    }
    3% {
        left: -100%;
    }
    5% {
        left: -200%;
    }
    5.5% {
        left: -200%;
    }
    7.5% {
        left: -300%;
    }
    8% {
        left: -300%;
    }
    10% {
        left: -400%;
    }
    10.5% {
        left: -400%;
    }
    12.5% {
        left: -500%;
    }
    13% {
        left: -500%;
    }
    15% {
        left: -600%;
    }
    15.5% {
        left: -600%;
    }
    17.5% {
        left: -700%;
    }
    18% {
        left: -700%;
    }
    20% {
        left: -800%;
    }
    20.5% {
        left: -800%;
    }
    22.5% {
        left: -900%;
    }
    23% {
        left: -900%;
    }
    25% {
        left: -1000%;
    }
    25.5% {
        left: -1000%;
    }
    27.5% {
        left: -1100%;
    }
    28% {
        left: -1100%;
    }
    30% {
        left: -1200%;
    }
    30.5% {
        left: -1200%;
    }
    32.5% {
        left: -1300%;
    }
    33% {
        left: -1300%;
    }
    35% {
        left: -1400%;
    }
    35.5% {
        left: -1400%;
    }
    37.5% {
        left: -1500%;
    }
    38% {
        left: -1500%;
    }
    40% {
        left: -1600%;
    }
    40.5% {
        left: -1600%;
    }
    42.5% {
        left: -1700%;
    }
    43% {
        left: -1700%;
    }
    45% {
        left: -1800%;
    }
    45.5% {
        left: -1800%;
    }
    47.5% {
        left: -1900%;
    }
    48% {
        left: -1900%;
    }
    50% {
        left: -2000%;
    }
    50.5% {
        left: -2000%;
    }
    52.5% {
        left: -2100%;
    }
    53% {
        left: -2100%;
    }
    55% {
        left: -2200%;
    }
    55.5% {
        left: -2200%;
    }
    57.5% {
        left: -2300%;
    }
    58% {
        left: -2300%;
    }
    60% {
        left: -2400%;
    }
    60.5% {
        left: -2400%;
    }
    62.5% {
        left: -2500%;
    }
    63% {
        left: -2500%;
    }
    65% {
        left: -2600%;
    }
    65.5% {
        left: -2600%;
    }
    67.5% {
        left: -2700%;
    }
    68% {
        left: -2700%;
    }
    70% {
        left: -2800%;
    }
    70.5% {
        left: -2800%;
    }
    72.5% {
        left: -2900%;
    }
    73% {
        left: -2900%;
    }
    75% {
        left: -3000%;
    }
    75.5% {
        left: -3000%;
    }
    77.5% {
        left: -3100%;
    }
    78% {
        left: -3100%;
    }
    80% {
        left: -3200%;
    }
    80.5% {
        left: -3200%;
    }
    82.5% {
        left: -3300%;
    }
    83% {
        left: -3300%;
    }
    85% {
        left: -3400%;
    }
    85.5% {
        left: -3400%;
    }
    87.5% {
        left: -3500%;
    }
    88% {
        left: -3500%;
    }
    90% {
        left: -3600%;
    }
    90.5% {
        left: -3600%;
    }
    92.5% {
        left: -3700%;
    }
    93% {
        left: -3700%;
    }
    95% {
        left: -3800%;
    }
    95.5% {
        left: -3800%;
    }
    97.5% {
        left: -3900%;
    }
    98% {
        left: -3900%;
    }
    100% {
        left: 0%;
    }
}




// TEXTE INTRODUCTION 
.introduction {
    color: $primary-color;
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    font-weight: bold;
}

h1 {
    color: $primary-color;
    font-size: 1.7rem;
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    font-weight: bold;
}

.styled_button {
    border: 0;
    padding: 20px 20px;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
    border-radius: $radius;
    background-color: $second-red;
    margin-top: 10px;
    box-shadow: inset 0.1vw 0.1vw 0.2vw rgba(255, 255, 255, 0.6),
        inset -0.1vw -0.1vw 0.2vw rgba(0, 0, 0, 0.6);
}
.styled_button > a{
    text-decoration: none;
    color: white;

}

.position_id {
    display: flex;
    padding: 5px;
}

.container_left {
    margin-bottom: 1rem;
    margin-top: 1rem;
    &.container_left > img {
        margin-right: 0.6rem;
        float: left;
    }
}

h3 {
    color: $primary-color;
    font-family: Arial, Verdana, sans-serif;
}

#boite {
    color: #000000;
    background-color: #ffffff;
    border: 1px #d50551 solid;
    border-radius: $radius;
    box-shadow: $shadow;
    margin: 4px 0px 15px;
    padding: 10px 4px 25px 30px;  /*Modification BD pour que les marker des chiffres des ol soient dans la boîte */
    & > p {
        margin: 6px;
    }
}
/* Ajout BD  léger padding entre les li des ol pour que ça soit un peu plus aéré*/
#boite > ol > li{
    padding: 2px 0px;
  }

#strong {
    font-weight: bold;
}
// style de la font-size  en
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 0.9em;
    }
    p {
        font-size: 1em;
    }
    sup {
        font-size: 0.7em;
    }
    footer p {
        font-size: 0.7em;
    }
    ul li a {
        font-size: 11px;
    }
    .introduction {
        font-size: 0.9em;
    }
    .citation {
        font-size: 0.8em;
        top: 0em;
    }
    .styled_button {
        font-size: 1em;
    }
}
