* {
  /* remember to define focus styles! */
  /* tables still need 'cellspacing="0"' in the markup */
}
* html,
* body,
* div,
* span,
* applet,
* object,
* iframe,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* blockquote,
* pre,
* a,
* abbr,
* acronym,
* address,
* big,
* cite,
* code,
* del,
* dfn,
* em,
* font,
* img,
* ins,
* kbd,
* q,
* s,
* samp,
* small,
* strike,
* strong,
* sub,
* sup,
* tt,
* var,
* dl,
* dt,
* dd,
* ol,
* ul,
* li,
* fieldset,
* form,
* label,
* legend,
* table,
* caption,
* tbody,
* tfoot,
* thead,
* tr,
* th,
* td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
* :focus {
  outline: 0;
}
* body {
  line-height: 1;
  color: black;
  background: white;
}
* ol,
* ul {
  list-style: none;
}
* table {
  border-collapse: separate;
  border-spacing: 0;
}
* caption,
* th,
* td {
  text-align: left;
  font-weight: normal;
}
* blockquote:before,
* blockquote:after,
* q:before,
* q:after {
  content: "";
}
* blockquote,
* q {
  quotes: "" "";
}

body {
  display: grid;
  grid-template-areas: ". header ." ". main ." ". footer .";
  grid-template-columns: auto 1240px auto;
  font-family: Arial, Verdana, sans-serif;
  row-gap: 20px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo citation adresse" "nav nav nav";
  grid-template-columns: auto;
  box-shadow: rgb(158, 169, 212) 0.3vw 0.3vw 0.3vw;
  border-width: 0.1vw;
  border-style: solid;
  border-color: rgb(213, 5, 81);
  -o-border-image: initial;
     border-image: initial;
  border-radius: 0.3vw;
  padding: 10px;
}

.emplacement_logo {
  grid-area: logo;
}

.adresse {
  grid-area: adresse;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: flex-end;
}

#quote {
  display: flex;
  align-items: center;
}

nav {
  grid-area: nav;
}

label,
#toggle {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .menu {
    flex-direction: column;
    height: 220px;
    display: none;
  }
  nav .menu a {
    width: 25%;
    z-index: 1;
  }
  label {
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: black;
    cursor: pointer;
  }
  #toggle:checked + .menu {
    display: flex;
    justify-content: space-between;
  }
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: none;
}

.menu,
.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu a {
  display: flex;
  width: 100%;
  height: 35px;
  color: black;
  background-color: #e26a8d; /* couleur lie de vin */
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
  border: 0.1vw #fae800 solid;
  font-weight: bold;
  font-size: 0.9rem;
  align-items: center;
  box-sizing: content-box;
  text-decoration: none;
  padding: 3px 10px;
}
.menu a:hover {
  background-color: #5aabdf;
}

.menu li {
  position: relative;
}

.menu li:hover ul {
  display: block;
  position: absolute;
  top: 41px;
  left: 0px;
  z-index: 100;
}

.menu ul li a:hover {
  background-color: #5aabdf;
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
}

@media screen and (min-width: 1200px) {
  main .container_accueil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: "left right" ". right";
  }
}
@media screen and (max-width: 599px) {
  main .container_accueil {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-areas: "left" "right";
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.left-column {
  grid-template-areas: "content";
  overflow: hidden;
  display: grid;
  grid-area: left;
}

.right-column {
  grid-area: right;
}

.left-column,
.right-column {
  border: 0.1vw #d50551 solid;
  border-radius: 0.3vw;
  box-shadow: 0.3vw 0.3vw 0.3vw #9ea9d4;
}

.slider {
  animation: 13.5s slide infinite;
  animation-direction: alternate;
  display: flex;
  grid-area: content;
}

@keyframes slide {
  0%, 14.81%, 100% {
    transform: translate(0, 0);
  }
  25.93%, 40.74% {
    transform: translate(-25%, 0);
  }
  51.85%, 66.67% {
    transform: translate(-50%, 0);
  }
  77.78%, 92.59% {
    transform: translate(-75%, 0);
  }
}/*# sourceMappingURL=style.css.map */