@import "mixinAndFunctions.scss";

* {
  @include reset;
}

body {
  display: grid;
  grid-template-areas:
    ". header ."
    /* ". heading ." */
    ". main ."
    ". footer .";
  grid-template-columns: auto 1240px auto;
  font-family: Arial, Verdana, sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "logo citation adresse"
    "nav nav nav";
  grid-template-columns: auto;
  box-shadow: rgb(158, 169, 212) 0.3vw 0.3vw 0.3vw;
  border-width: 0.1vw;
  border-style: solid;
  border-color: rgb(213, 5, 81);
  border-image: initial;
  border-radius: 0.3vw;
}
.emplacement_logo {
  grid-area: logo;
}
.adresse {
  grid-area: adresse;
  object-fit: cover;

  display: flex;
  justify-content: flex-end;
}
#quote {
  display: flex;
  align-items: center;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

//Mise en forme du menu
.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: none;
}
.menu,
.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.menu a {
  display: flex;
  width: 100%;
  height: 35px;
  // line-height: 35px;
  color: black;
  // background-color: #317f92;
  background-color: #e26a8d; /* couleur lie de vin */
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
  border: 0.1vw #fae800 solid;
  font-weight: bold;
  font-size: 0.9rem;
  align-items: center;
  box-sizing: content-box;
  text-decoration: none;
  padding: 3px 10px;
  // text-align: center;

  &:hover {
    background-color: #5aabdf;
  }
}
.menu li {
  position: relative;
}
.menu li:hover ul {
  display: block;
  position: absolute;
  top: 41px;
  left: 0px;
  z-index: 100;
}
.menu ul li a:hover {
  background-color: #5aabdf;
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
}

.container_accueil {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

img {
  object-fit: cover;
}
