@import "mixinAndFunctions.scss";

* {
  @include reset;
}

body {
  display: grid;
  grid-template-areas:
    ". header ."
    /* ". heading ." */
    ". main ."
    ". footer .";
  grid-template-columns: auto 1240px auto;
  font-family: Arial, Verdana, sans-serif;
  row-gap: 20px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "logo citation adresse"
    "nav nav nav";
  grid-template-columns: auto;
  box-shadow: rgb(158, 169, 212) 0.3vw 0.3vw 0.3vw;
  border-width: 0.1vw;
  border-style: solid;
  border-color: rgb(213, 5, 81);
  border-image: initial;
  border-radius: 0.3vw;
  padding: 10px;
}
.emplacement_logo {
  grid-area: logo;
}
.adresse {
  grid-area: adresse;
  object-fit: cover;

  display: flex;
  justify-content: flex-end;
}
#quote {
  display: flex;
  align-items: center;
}

nav {
  grid-area: nav;
}
label,
#toggle {
  display: none;
}

@media screen and (max-width: 991px) {
  nav .menu {
    // display: none;
    flex-direction: column;
    height: 220px;
    display: none;
  }

  nav .menu a {
    width: 25%;
    z-index: 1;
  }

  label {
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // position: absolute;
    font-size: 40px;
    color: black;
    cursor: pointer;
  }

  #toggle:checked + .menu {
    display: flex;
    justify-content: space-between;
  }
}
// @media screen and (max-width: 780px) {
//   body {
//     background-color: #848; /*Violet*/
//   }
//   .conteneur-flex {
//     flex-flow: column wrap;
//   }
// main .container_accueil {
//   // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-template-columns: 1fr;

//   gap: 20px;
//   grid-template-areas:
//     "left"
//     "right";
// }
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

//Mise en forme du menu
.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: none;
}
.menu,
.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.menu a {
  display: flex;
  width: 100%;
  height: 35px;
  // line-height: 35px;
  color: black;
  // background-color: #317f92;
  background-color: #e26a8d; /* couleur lie de vin */
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
  border: 0.1vw #fae800 solid;
  font-weight: bold;
  font-size: 0.9rem;
  align-items: center;
  box-sizing: content-box;
  text-decoration: none;
  padding: 3px 10px;
  // text-align: center;

  &:hover {
    background-color: #5aabdf;
  }
}
.menu li {
  position: relative;
}
.menu li:hover ul {
  display: block;
  position: absolute;
  top: 41px;
  left: 0px;
  z-index: 100;
}
.menu ul li a:hover {
  background-color: #5aabdf;
  border-color: #9ea9d4 #c90052 #c90052 #9ea9d4;
}

main .container_accueil {
  @include for-size(desktop-up) {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas:
      "left right"
      ". right";
  }
  @include for-size(phone-only) {
    grid-template-columns: 1fr;

    gap: 20px;
    grid-template-areas:
      "left"
      "right";
  }
}

img {
  object-fit: cover;
  width: 100%;
}

.left-column {
  grid-template-areas: "content";
  overflow: hidden;
  display: grid;
  grid-area: left;
}

.right-column {
  grid-area: right;
}

.left-column,
.right-column {
  border: 0.1vw #d50551 solid;
  border-radius: 0.3vw;
  box-shadow: 0.3vw 0.3vw 0.3vw #9ea9d4;
}

// .slide {
//   animation: slide 13.5s ease infinite 0s;
//   // animation: 13.5s slidy infinite;
//   // animation-direction: alternate;

//   display: flex;

//   grid-area: content;
//   object-fit: content;
//   width: 100%;
// }

// .slide > img {
//   width: 100%;
// }

// @keyframes slide {
//   0%,
//   14.81%,
//   100% {
//     transform: translate(0, 0);
//   }
//   25.93%,
//   40.74% {
//     transform: translate(-25%, 0);
//   }
//   51.85%,
//   66.67% {
//     transform: translate(-50%, 0);
//   }
//   77.78%,
//   92.59% {
//     transform: translate(-75%, 0);
//   }
// }

// .slider {
//   width: 90%;
//   height: 500px;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
//     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
//   margin: 20px auto;
// }

// @keyframes slidy {
//   0% {
//     left: 0%;
//   }
//   10% {
//     left: 0%;
//   }
//   20% {
//     left: -100%;
//   }
//   30% {
//     left: -100%;
//   }
//   40% {
//     left: -200%;
//   }
//   50% {
//     left: -200%;
//   }
//   60% {
//     left: -300%;
//   }
//   70% {
//     left: -300%;
//   }
//   80% {
//     left: -400%;
//   }
//   90% {
//     left: -400%;
//   }
//   100% {
//     left: -500%;
//   }
// }
