$primary-color: #d50551;
$radius: 5.76px;
$shadow: rgb(158, 169, 212) 5.76px 5.76px 5.76px;  //Shadow des boites


$container-border:1.92px solid rgb(213, 5, 81);  //Bordure des boites



$lie: #e26a8d; /* couleur lie de vin */
